@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
    max-width: 100%;
}

body {
    width: 100vw;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 0 3rem;
}

#logo {
    width: 120px;
    padding: 1rem 0;   
}

#logo a{
    text-decoration: none;
    color: #2d57d9;

}

.menu-container {
    padding: 16px 0;
}

.menu {
    list-style: none;
}

.menu .opções {
    display: inline-block;
    margin:0 24px;
    position: relative;
}

.menu .opções a {
    text-decoration: none;
    display: flex;
    padding: 16px 0;
    color: #777;
    font-weight: 500;
    transition: 0.3s ease;
    align-items: center;
}

.menu .opções:hover a{
    color: #2d57d9;
}

.opções a .fa-chevron-down {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 8px;
    transition: 0.3s ease;
    pointer-events: none;
}

.opções:hover a .fa-chevron-down {
    transform: rotate(-180deg);
}

.menu .opções .submenu {
    max-width: max-content;
    width: 200px;
    position: absolute;
    top: 80%;
    left: -16px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #2d57d9;
    transform: translateY(0);
    transition: .3s ease;
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu .opções:hover .submenu {
    transform: translate(8px);
    visibility: visible;
    opacity: 1;
}

.menu .opções .submenu .submenu-item {
    list-style: none;
}

.menu .opções .submenu .submenu-item a {
    text-decoration: none;
    display: block;
    color: #c3c3c397;
    font-weight: 500;
    transition: 0.3s ease;
    padding: 16px;
}

.menu .opções .submenu .submenu-item a:hover {
    color: #ffffff;
    background-color: #2d57d927;
}

nav .menu-aberto {
    display: none;
    font-size: 24px;
    color: #2d57d9;
}

nav .menu-fechar{
    display: none;
    font-size: 24px;
    color: #fff;
}

@media (max-width: 992px) {
    body {
        max-width: 992px;
        overflow: hidden;
    }
    .menu {
        padding: 0 3rem;
    }
    nav .menu-container {
        position: absolute;
        right: -400px;
        visibility: hidden;
        width: 400px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        background-color: #2d57d9;
        z-index: 999;
        padding: 15px;
        transition: all 0.3s ease-in;
    }

    nav .menu-container.abrir {
        visibility: visible;
        transition: all 0.3s ease-out;
        right: 0;
    }

    .menu-container .menu .opções {
        display: block;
        margin: 0;
    }
    .menu-container .menu .opções a{
        color: #fff;
        padding: 24px 16px;
        border-bottom: 1px solid #ffffff20;
        display: flex;
        justify-content: space-between;
    }

    .submenu-item:hover a .fa-chevron-down {
        transform: rotate(0);
    }

    .menu-container .menu .opções .submenu-ramo.ativo a .fa-chevron-down {
        transform: rotate(-180deg);
    }

    .menu .opções .submenu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border-radius: 0;
        border-bottom: 1px solid #ffffff20;
        background-color: transparent;
        transform: translateY(0px);
        box-shadow: none;
        padding: 0px;
        left: auto;
        max-height: 0;
        overflow: hidden;
    }

    .menu .opções:hover .submenu {
        transform: translateY(0px);
    }

    .menu .opções .submenu .submenu-item a {
        color: #ffffff21;
        border: none;         
    }
    .menu .opções .submenu .submenu-item a:hover {
        color: #fff;
    }

    .logo {
        padding: 1.5rem 0;
    }

    nav .menu-aberto {
        cursor: pointer;
        display: block;
    }
    nav .menu-fechar{
        display: block;
        padding: 16px;
        cursor: pointer;
        width: fit-content;
    }
}

.controle {
    display: flex; /* Define que os itens dentro de .controle vão usar flexbox */
    justify-content: space-between; /* Distribui o espaço disponível entre os itens */
    align-items: center; /* Alinha verticalmente os itens no centro */
    padding: 20px;
    flex-wrap: wrap; /* Faz com que os itens que não cabem na linha atual vão para a linha seguinte */
    gap: 20px; /* Espaçamento entre os itens */
    margin: 50px;
}

.filtros {
    display: flex; /* Usando flexbox para alinhar os filtros */
    gap: 15px; /* Espaçamento entre os filtros */
    align-items: center; /* Alinha os itens no centro verticalmente */
}

.controle-data {
    display: flex;
    flex-direction: column; /* Coloca o título e a data em uma coluna */
    align-items: center;
    gap: 8px;
}

.controle-data .data-container {
    display: flex; /* Coloca a data e os botões na mesma linha */
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaço entre a data e os botões */
}

.controle span {
    align-self: center; 
}

.controle a{
    color: #0073e6;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .controle {
        flex-direction: column; /* Quando a tela for pequena, empilha os itens verticalmente */
        align-items: flex-start; /* Alinha à esquerda quando em coluna */
    }

    .filtros, .controle-data {
        width: 100%; /* Faz os filtros e a data ocuparem toda a largura disponível */
        justify-content: flex-start; /* Alinha os itens à esquerda */
    }
}


/* Estilização geral da tabela */
#reserva-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

#reserva-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(185, 185, 185, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Estilo do cabeçalho */
#reserva-container th {
    background-color: #0073e6;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-transform: uppercase;
    border: 1px solid #ddd;
    height: 50px;
}

/* Estilo das células gerais */
#reserva-container td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    color: #333;
    height: 80px;
}

/* Destaca a coluna de horário */
td.horario-principal {
    font-weight: bold;
    width: 100px;
}

/* Destaca o horário atual */
.horario-atual {
    /*background-color: #5d646b;*/
    color: #0073e6 !important;
    font-weight: bold; 
}

/* Estilização para células interativas */
#reserva-container td:not(.horario-principal):hover {
    background-color: #e4f0f8;
    cursor: pointer;
}

/* Ajuste para responsividade */
@media (max-width: 768px) {
    #reserva-container {
        width: 100%;
    }

    #reserva-container table {
        font-size: 14px;
    }

    #reserva-container th,
    #reserva-container td {
        padding: 8px;
    }
}

.dropdown__image img {
    width: 40px;  /* Tamanho pequeno */
    height: 40px; /* Tamanho pequeno */
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Faz a imagem preencher o espaço sem distorcer */
}

/* Estilo do Modal 
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo transparente 
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilizando os inputs 
input[type="time"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
}

/* Estilizando o botão de confirmação 
.btn-confirmar {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-confirmar:hover {
    background-color: #45a049;
}
*/
