* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* Fundo escurecido */
.fundo-escuro {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Box */
.modal-box {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Botão de fechar */
.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  color: #333;
  cursor: pointer;
}

h2 {
  margin-bottom: 20px;
  color: #111;
}

/* Labels */
label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Botão */
.btn-confirmar, .btn-confirmar a {
  width: 100%;
  padding: 12px;
  background-color: #085730;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-confirmar a:active{
  color: white;
}

/* Link */
.login-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.login-link a {
  color: #085730;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}

.senha-container {
  position: relative;
}

.senha-container input {
  width: 100%;
  padding-right: 35px; /* espaço pro ícone */
}

.senha-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}
