
.reserva-container {
  display: grid;
  grid-template-columns: 1rem auto auto auto auto auto;
  height: 70vh;

}

.horas {
  padding-top: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.dia {
  display: grid;

  width: 100%;
  grid-template-rows: 1rem auto;
  grid-template-columns: auto auto auto auto auto;


}
.dia h3 {
  grid-column: 1 / span 5;
}

.dia .lab {
  display: grid;
  border: 1px solid gray;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;

}


.reserva {
  background-color: #b80f0f;
  border-radius: 0 0 15px 15px;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
